.login {
  background: url("assets/img/pebbles.jpg");
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login-container {
  padding: 100px;
  text-align: center;
  max-height: 80vh;
  width: 40vw;
  background: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login-container img {
  object-fit: contain;
  height: 150px;
  /* margin-bottom: 40px; */
}
.input-field {
  display: flex;
  margin: 0;
  align-items: center;
}
.login-container button {
  margin-top: 50px;
  text-transform: inherit !important;
  background: #0a8d48 !important;
  color: white !important;
}
.home-container {
  height: 100vh;
  width: 100vw;
}
.login-container h1,
h5 {
  color: #444343;
}
.error {
  background: red !important;
}
.form input {
  margin: 5px !important;
  border: 2px solid gray !important;
}
.form input ::placeholder {
  font-size: large !important;
  font-weight: bold !important;
}
